/* General styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    user-zoom: none;
    text-decoration: none;
    list-style: none;
}
/* root */
:root{
    --litcolor: #ffffff;
    --blkcolor:#000000;
    --altcolor: #f57328;
    --hdfont: 'Abyssinica SIL', serif;
    --tilfont:'Open Sans', sans-serif;
    --pfont:'Inter Tight', sans-serif;;
}
.px{
    padding: 0px 100px;
}
.df{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
nav{
    background-color: var(--litcolor);
    width: auto;
    height: 10vh;

}
nav li{
    margin: 0px 20px;
}
nav div a{
    margin: 0px 20px;
}
#brand{
    font-family: var(--hdfont);
    color: var(--blkcolor);
    font-weight: 700;
}
nav a{
    color: var(--blkcolor);
    font-family: var(--tilfont);
}
.btn1{
    background-color: var(--altcolor);
    padding: 5px 20px;
    color: var(--litcolor);
}
.btn1:hover{
    background: none;
    color: var(--altcolor);
    border: 2px solid var(--altcolor);
    padding: 5px 20px;
}
main{
    height: 90vh;
    width: auto;
    background-color: var(--litcolor);
}
.main-box{
    width: 50%;
    height: 60vh;
  
}
.main-box img{
    display: block;
    margin: 0px auto;
}
.hero-txt{
    font-family: var(--hdfont);
    font-size: 4.2em;
    font-weight: 600;
    letter-spacing: 5px;
    color: var(--blkcolor);
}
p{
    font-family: var(--pfont);
    text-align: justify;
    color: var(--blkcolor);
}

.next-word{
    width: auto;
    height: 20px;
    background-color: white;
}
.next{
    font-family: var(--tilfont);
    font-size: 2em;
    letter-spacing: 3px;font-weight: 700;
    text-align: center;
    color: var(--blkcolor);
}
.contain{
    width: auto;
    height: 800px;
    margin: 10px auto;
    margin-top: 100px;
}
.container{
    width: auto;
    height: 650px;
    background-color: darkred;
    margin: 10px 0px 0px 0px;
}
.about{
    font-family: var(--pfont);
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: right;
    color: var(--altcolor);
}
.about-us{
    font-family: var(--pfont);
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: right;
    color: var(--blkcolor);
}
.threeplus{
    width: 30%;
    height: 200px;
    background-color: black;
    margin: 40px 0px 0px 900px;
}
.abt-text{
    font-family: var(--pfont);
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 100;
    text-align: right;
    color: var(--blkcolor)
}
.imgstyl{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.serve{
    width: auto;
    margin: 10px auto;
}
.s1{
    width: 25%;
    height: 250px;
    margin: 20px;
}
.s2{
    width: 25%;
    height: 250px;
    margin: 20px;
}
.s3{
    width: 25%;
    height: 250px;
    margin: 20px;
}
.s4{
    width: 25%;
    height: 250px;
    margin: 20px;
}
.s5{
    width: 25%;
    height: 250px;
    margin: 20px;
}
.s6{
    width: 25%;
    height: 250px;
    margin: 20px;
}
.sec{
    width: auto;
    height: fit-content;
    margin: 20px auto;
}
.df2{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
}
.icon{
    text-align: center;
}
.LM{
    margin: 600px;
}
.btn2{
    background-color: var(--blkcolor);
    padding: 5px 20px;
    color: var(--litcolor);
}
.btn2:hover{
    color: var(--litcolor);
    bottom: 2px solid var(--blkcolor);
    padding: 5px 20px;
}
.oga{
    margin-left: 100px;
}
.ode{
    margin-left: 100px;
    margin-bottom: 20px;
}
.okay{
    margin-left: 100px;
    margin-bottom: 30px;
}
aside{
    background-color: black;
    height: 200px;
    width: auto;
    margin-top: 20px;
  color: white;
  text-decoration: white;
}

.df{
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    
}
aside a{
    color: white;
}
.mama{
    height: fit-content;
    width: 300px;
   
}
.o{
    color: var(--litcolor);
}
.papa{
    width: auto;
    height: 40px;
    background-color: black;
    border-top: solid 2px white;
}
.shal{
    justify-content: center;
}

